<html>
    <head>
        <title>Banks V1</title>
    </head>
    <body>
        <h1>$message</h1>
        <div>
        <ul>
            #foreach($bank in $banks)
            <li>$bank.get("bic")
                <ul>
                    <li>$bank.get("name")</li>
                    <li>$bank.get("countryCode")</li>

                    #if($bank.get("products"))
                        <li>$bank.get("products")</li>
                    #end
                    #if($bank.get("auth"))
                        <li>$bank.get("auth")</li>
                    #end
                </ul>
            </li>
            #end
        </ul>
        </div>
    </body>
</html>