<html>
<head>
    <title>$title</title>
    <!-- I import a library for lists and paging -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <style>
        .pagination li {
            display: inline-block;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>$message</h1>
<script>
    var current_pattern = "";//default search parameter
    var current_size = 5;//default number of items per page
</script>
<label for="page_items">Number of banks per page (1-20):</label>

<!-- notice I call the function resize page every time I search, or I change the page size.
The page size, indeed, changes if we have less banks displayed due to the search-->
<input type="number" id="page_items" min="1" max="20" value="5" onchange="resize_page()">
<input type="text" id="ccfilter" onkeyup="resize_page()" placeholder="Filter by Country Code">
<div id="listdiv">
    <ul id="banklist" class="list">
        <!-- with this foreach, I put all the banks that I got from the model, into html into a list ul -->
        #foreach($bank in $banks)
            <li class="name">$bank.get("bic")
                <ul>
                    #foreach($val in $bank.values())
                        <li>$val</li><!-- I just put the value -->
                    #end
                </ul>
            </li>
        #end
    </ul>
    <!-- element to handle paging -->
    <ul class="pagination" id="pager"></ul>
</div>
<script>
    <!-- here I instantiate the first time the paging -->
    new List('listdiv', {
        valueNames: ['name'],
        page: current_size,
        pagination: true
    });

    function resize_page() {
        //I change the number of element per page, and the search pattern. I get these values from the html elements
        current_size = parseInt(document.getElementById("page_items").value);
        current_pattern = document.getElementById("ccfilter").value.toUpperCase()
        var pager = document.getElementById("pager");
        //I remove the all the elements inside the pager element
        while (pager.firstChild) {
            var child = pager.firstChild;
            pager.removeChild(child);
        }
        //I also remove all the items from the list displayed
        var banklist = document.getElementById("banklist");
        while (banklist.firstChild) {
            var child = banklist.firstChild;
            banklist.removeChild(child);
        }
        //I put again the banks in html
        #foreach($bank in $banks)
            //I have to take care of the search pattern
            if ("$bank.get("countryCode")".includes(current_pattern)) {
                var li = document.createElement("li");
                li.className = "name";
                li.textContent = "$bank.get("bic");"
                var ul = document.createElement("ul");

                #foreach($field in $bank.keySet())
                    #if("$field"!= "bic")
                        var li_nested = document.createElement("li");
                        li_nested.textContent = "$bank.get("$field")";
                    #end
                    ul.appendChild(li_nested)
                #end
                li.appendChild(ul);
                banklist.appendChild(li);
            }
        #end
        // I put again the elements into the pager
        new List('listdiv', {
            valueNames: ['name'],
            page: current_size,
            pagination: true
        });
    }
</script>
</body>
</html>