<html>
    <head>
        <title>$title</title>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <style>
            .pagination li {
                display:inline-block;
                padding:5px;
            }
        </style>
    </head>
    <body>
    <label for="page_items">Number of banks per page (1-20):</label>
    <input type="number" id="page_items" min="1" max="20" value="5" onchange="resize_page(parseInt(value))">
    <div id="test-list">
        <input type="text" class="search" />
        <ul id="list_val" class="list">
            <li><p class="name">Guybrush Threepwood</p></li>
            <li><p class="name">Elaine Marley</p></li>
            <li><p class="name">LeChuck</p></li>
            <li><p class="name">Stan</p></li>
            <li><p class="name">Voodoo Lady</p></li>
            <li><p class="name">Herman Toothrot</p></li>
            <li><p class="name">Meathook</p></li>
            <li><p class="name">Carla</p></li>
            <li><p class="name">Otis</p></li>
            <li><p class="name">Rapp Scallion</p></li>
            <li><p class="name">Rum Rogers Sr.</p></li>
            <li><p class="name">Men of Low Moral Fiber</p></li>
            <li><p class="name">Murray</p></li>
            <li><p class="name">John Smith</p></li>
            <li><p class="name">Thomas Mueller</p></li>
            <li><p class="name">Mario Rossi</p></li>
            <li><p class="name">Juan Sanchez</p></li>
            <li><p class="name">Niels Jensen</p></li>
            <li><p class="name">Christodoulus Papadopoulus</p></li>
            <li><p class="name">Pierre Lacroix</p></li>
            <li><p class="name">Zheng Zang</p></li>
            <li><p class="name">Gusti Alex</p></li>
            <li><p class="name">Martin Bisera</p></li>
            <li><p class="name">Qiang Gethsemane</p></li>
            <li><p class="name">Siddhi Sisu</p></li>
            <li><p class="name">Rhagouel Aidan</p></li>
            <li><p class="name">Lei Patrik</p></li>
            <li><p class="name">Naphtali Wazo</p></li>
            <li><p class="name">Ivory Lídia</p></li>
            <li><p class="name">Juhán Kamaria</p></li>
        </ul>
        <ul class="pagination" id="paggg"></ul>
    </div>
    <ul id="list_val_hidden" class="list">
        <li hidden="true"><p class="hidden">Guybrush Threepwood</p></li>
        <li hidden="true"><p class="hidden">Elaine Marley</p></li>
        <li hidden="true"><p class="hidden">LeChuck</p></li>
        <li hidden="true"><p class="hidden">Stan</p></li>
        <li hidden="true"><p class="hidden">Voodoo Lady</p></li>
        <li hidden="true"><p class="hidden">Herman Toothrot</p></li>
        <li hidden="true"><p class="hidden">Guybrush Threepwood</p></li>
        <li hidden="true"><p class="hidden">Elaine Marley</p></li>
        <li hidden="true"><p class="hidden">LeChuck</p></li>
        <li hidden="true"><p class="hidden">Stan</p></li>
        <li hidden="true"><p class="hidden">Voodoo Lady</p></li>
        <li hidden="true"><p class="hidden">Herman Toothrot</p></li>
        <li hidden="true"><p class="hidden">Guybrush Threepwood</p></li>
        <li hidden="true"><p class="hidden">Elaine Marley</p></li>
        <li hidden="true"><p class="hidden">LeChuck</p></li>
        <li hidden="true"><p class="hidden">Stan</p></li>
        <li hidden="true"><p class="hidden">Voodoo Lady</p></li>
        <li hidden="true"><p class="hidden">Herman Toothrot</p></li>
        <li hidden="true"><p class="hidden">Guybrush Threepwood</p></li>
        <li hidden="true"><p class="hidden">Elaine Marley</p></li>
        <li hidden="true"><p class="hidden">LeChuck</p></li>
        <li hidden="true"><p class="hidden">Stan</p></li>
        <li hidden="true"><p class="hidden">Voodoo Lady</p></li>
        <li hidden="true"><p class="hidden">Herman Toothrot</p></li>
    </ul>
    <script>
        new List('test-list', {
            valueNames: ['hidden'],
            page: 5,
            pagination: true
        });
    function resize_page(size) {
        var pager = document.getElementById("paggg");
        while (pager.firstChild) {
            var child = pager.firstChild;
            pager.removeChild(child);
        }
        var ul = document.getElementById("list_val");
        while (ul.firstChild) {
            var child = ul.firstChild;
            ul.removeChild(child);
        }
        var ul_hidden = document.getElementById("list_val_hidden");
        var items = ul_hidden.getElementsByClassName("hidden");
        for (var i = 0; i < items.length; ++i) {
            var li = document.createElement("li");
            var p = document.createElement("p");
            p.className="name";
            p.textContent = items[i].textContent;
            li.appendChild(p);
            ul.appendChild(li);
        }
        new List('test-list', {
            valueNames: ['name'],
            page: size,
            pagination: true
        });
    }
    </script>
    </body>
</html>
